*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e272e;
}

.search-container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.search-container-date{
    max-width: 900px;
    padding-top: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container h2, .search-container-date h2 {
    color: #f1f2f6;
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 0.3rem;
}

#name, #country, #search, #month, #date, #country-form, #search-today, #country-date, #month-date {
    border-radius: 0.3rem;
    width: 7rem;
    height: 2rem;
    font-family: 'Titillium Web', sans-serif;
}


.container {
    max-width: 900px;
    margin: 0 auto; 
    text-align: center;
    padding-top: 1rem;
}

#search-form-today{
    padding-top: 2rem;
}

.today-nameday h2,
.today-nameday p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #f1f2f6;
    margin-top: 5rem;
    font-size: 2rem;
}

.today-nameday p span{
    text-decoration: underline;
}

.namedays {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 2rem;
}

.namedays p {
    color: #f1f2f6;
    font-size: 2rem;
    text-align: center;
}

.namedays span{
    font-weight: bold;
}

.search-name{
    text-decoration: underline;
}