*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ff4757;
}

.search-container{
    height: 50vh;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name, #country, #search{
    border-radius: 0.3rem;
    width: 7rem;
    height: 2rem;
    font-family: 'Comfortaa', cursive;
}


.today-nameday h2,
.today-nameday p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #f1f2f6;
    text-transform: uppercase;
    margin-top: 5rem;
    font-size: 2rem;
}

.namedays {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
}

.namedays p {
    color: #f1f2f6;
    font-size: 2rem;
    text-align: center;
}

.namedays span{
    font-weight: bold;
}